<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weight Tracker</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="main">
    <div class="body">
      <form class="form" action="/login" method="post">
        <div class="form__body">
          <div class="avatar">
            <img class="avatar__img" src="/assets/avatar.png" alt="avatar">
          </div>
          <input class="input" type="password" name="password" placeholder="Password" required>
          <button class="button" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
