{{ template "head.html" }}

<div class="main">
  <div class="body">
    <div class="welcome">
      <h2 class="welcome__title">Welcome,</h2>
      <h4 class="welcome__subtitle">Login to continue</h4>
    </div>
    <div class="avatar">
      <img class="avatar__img" src="/assets/avatar.png" alt="avatar">
    </div>
    <form class="form" action="/login" method="post">
      <div class="form__body">
        <input class="input" type="password" name="password" placeholder="Password" required>
        <button class="button" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>

{{ template "foot.html" }}
