{{ template "head.html" }}

<div class="main">
  <div class="body">
    <form class="form" action="/weight/store" method="post">
      <div class="form__body">
        <div class="title">New record</div>

        <label class="input__label" for="input-date">Date</label>
        <input class="input" type="date" id="input-date" name="date" required>

        <label class="input__label" for="input-min-weight">Min Weight (kg)</label>
        <input class="input" type="number" id="input-min-weight" name="min_weight" min="0" value="58" required>

        <label class="input__label" for="input-max-weight">Max Weight (kg)</label>
        <input class="input" type="number" id="input-max-weight" name="max_weight" min="0" value="58" required>

        <button class="button" type="submit">Record</button>
      </div>
    </form>
  </div>
</div>

{{ template "foot.html" }}
